@model IEnumerable<ITIDotNetMvc.Models.Entites.Student>

<table class="table table-bordered table-hover">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <img src="~/Images/@item.ImageUrl" style="width:80px"/>
                <a href="/Student/Details?id=@item.Id">Details</a>
            </td>
        </tr>
    }
</table>